<h1>Equipes</h1>

<%= link_to new_equipe_path, class: "text-decoration-none fs-4" do %>
    <div>
        <i class="bi bi-plus-circle"></i> Novo
    </div>
<% end %>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Nome</th>
            <th class="col">Nº integrantes</th>
            <th class="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @equipes.each do |equipe| %>
            <tr>
                <td><%= equipe.id %></td>
                <td><%= equipe.nome %></td>
                <td><%= equipe.numIntegrantes? %></td>
                <td>
                    <%= link_to equipe, class: "text-decoration-none" do %>
                        <i class="bi bi-eye-fill fs-4 link-dark"></i>
                    <% end %>
                    <%= link_to edit_equipe_path(equipe), class: "text-decoration-none" do %>
                        <i class="bi bi-pen-fill fs-4 link-dark"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>