<%= link_to "Voltar", equipes_path %>

<h1><%= @equipe.nome %></h1>

<hr>
<h3>Integrantes</h3>

<ul>
    <% @integrantes.each do |integrante| %>
        <% if integrante.equipe_id == params[:id].to_i %>
            <li><%= integrante.nome %></li>
        <% end %>

    <% end %>
</ul>

<h5>Adicionar Integrante</h5>

<% mecanicos = Array.new %>
<% @integrantes.each do |i| %>
    <% unless i.equipe_id == params[:id].to_i %>
        <% mecanicos.push(i) %>
    <% end %>
<% end %>

<%= form_with method: :put, url: equipe_path(id: @equipe) do |form| %>
    <%= form.hidden_field :equipe_id, value: params[:id] %>
    <div>
        <%= form.collection_check_boxes :integrantes, mecanicos, :id, :nome %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
