<h1>Serviços</h1>

<%= link_to new_servico_path, class: "text-decoration-none fs-4" do %>
    <div>
        <i class="bi bi-plus-circle"></i> Novo
    </div>
<% end %>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Nome</th>
            <th class="col">Valor</th>
            <th class="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @servicos.each do |servico| %>
            <tr>
                <td><%= servico.id %></td>
                <td><%= servico.nome %></td>
                <td><%= servico.valor %></td>
                <td>
                    <%= link_to servico, class: "text-decoration-none" do %>
                        <i class="bi bi-eye-fill fs-4 link-dark"></i>
                    <% end %>
                    <%= link_to edit_servico_path(servico), class: "text-decoration-none" do %>
                        <i class="bi bi-pen-fill fs-4 link-dark"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>