<%= form_with model: ordem do |form| %>
    <%= form.hidden_field :partes, value: Array.new %>
    <%= form.hidden_field :servicos, value: Array.new %>
    <div>
        <%= form.label :veiculo_id %><br>
        <%= form.collection_select :veiculo_id, @veiculos, :id, :placa, prompt: 'Selecione um veículo' %>
        <% ordem.errors.full_messages_for(:veiculo_id).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :equipe_id %><br>
        <%= form.collection_select :equipe_id, @equipes, :id, :nome, prompt: 'Selecione uma equipe' %>
        <% ordem.errors.full_messages_for(:equipe_id).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :partes %><br>
        <%= form.collection_check_boxes :partes, @partes, :id, :nome, multiple: true  %>
    </div>

    <div>
        <%= form.label :servicos %><br>
        <%= form.collection_check_boxes :servicos, @servicos, :id, :nome, multiple: true %>
    </div>
    
    <div>
        <%= form.label :dataEmissao, 'Data de Emissão' %><br>
        <%= form.datetime_select :dataEmissao %>
        <% ordem.errors.full_messages_for(:dataEmissao).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>