<%= link_to "Voltar", ordems_path %>

<p>Veículo: <%= @veiculo.placa %></p>

<p>Equipe: <%= @equipe.nome %></p>

<hr>

<p>Emissão: <%= @ordem.dataEmissao %></p>

<p>Conclusão: <%= @ordem.dataConclusao %></p>