<p><%= link_to "Voltar", :back %>
<h5><%= @veiculo.placa %></h5>
<p><%= @veiculo.marca %></p>
<p><%= @veiculo.modelo %></p>
<p><%= @veiculo.ano %></p>
<p><%= @veiculo.cor %></p>
<p><%= @veiculo.descricao %></p>