<%= form_with model: mecanico do |form| %>
    <div>
        <%= form.label :nome %><br>
        <%= form.text_field :nome %>
        <% mecanico.errors.full_messages_for(:nome).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :endereco %><br>
        <%= form.text_field :endereco %>
        <% mecanico.errors.full_messages_for(:endereco).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :especialidade %><br>
        <%= form.text_field :especialidade %>
        <% mecanico.errors.full_messages_for(:especialidade).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>