<%= form_with model: mecanico, class:"col-10" do |form| %>
    <div>
        <%= form.label :nome, class:"form-label mt-2" %><br>
        <%= form.text_field :nome, class:"form-control" %>
        <% mecanico.errors.full_messages_for(:nome).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :endereco, class:"form-label mt-2" %><br>
        <%= form.text_field :endereco, class:"form-control" %>
        <% mecanico.errors.full_messages_for(:endereco).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :especialidade, class:"form-label mt-2" %><br>
        <%= form.text_field :especialidade, class:"form-control" %>
        <% mecanico.errors.full_messages_for(:especialidade).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class="mt-3">
        <%= form.submit %>
    </div>
<% end %>