<h1>Mecânicos</h1>

<%= link_to new_mecanico_path, class: "text-decoration-none fs-4" do %>
    <div>
        <i class="bi bi-plus-circle"></i> Novo
    </div>
<% end %>

<table class="table table-bordered table-hover table-striped mt-3">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Nome</th>
            <th class="col">Especialidade</th>
            <th class="col">Equipe</th>
            <th class="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @mecanicos.each do |mecanico| %>
            <tr>
                <td><%= mecanico.id %></td>
                <td><%= mecanico.nome %></td>
                <td><%= mecanico.especialidade %></td>
                <td>Equipe</td>
                <td>
                    <%= link_to mecanico, class: "text-decoration-none" do %>
                        <i class="bi bi-eye-fill fs-4 link-dark"></i>
                    <% end %>
                    <i class="bi bi-pen-fill fs-4 link-dark"></i>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>