<nav class="mt-5">
    <ul class="nav flex-column">
        <li class="nav-item">
            <%= link_to "Ordens de Serviço", ordems_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to "Clientes", clientes_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to "Mecanicos", mecanicos_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to "Equipes", equipes_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to "Partes", partes_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <li class="nav-item">
            <%= link_to "Serviços", servicos_path, class: 'text-decoration-none nav-link active' %>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= button_to("Log Out", destroy_user_session_path, {method: :delete, style:"border:0px;background-color:#fff;", class: 'text-decoration-none nav-link active'}) %>
            </li>
        <% end %>
    </ul>
</nav>